            body {
            font-family: "Arial";
            line-height: 1.5;
        }

        img {
            width: 100%;
            max-width: 600px;
        }

        a {
             text-decoration: none;
        }

        .textoazul {
            color: blue
        }